.container {
    display: grid;
    height: 600px;
    width: 960px;
    

}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    align-items: center;  
}

.square {
    box-sizing: border-box;
    border: 1px solid black;
    background-color: lightgray; 
}
   
    