.container {
    display: grid;
    height: 650px;
    width: 1000px;
    border: 2px solid black;
    margin-top: 30px;
    background-color: gainsboro;
    border-radius: 20px;
    border-style: groove;
    border-width: 3px;
}    

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    align-items: center;
    background-image: url(images/blue-and-green-wood_1280x1024.jpg);  
}

.square {
    border: 1px hidden black;
    background-color: gainsboro;
}
   
.gridslider {
    width: 150px;
    height: 20px;
    opacity: 2;
    transition: opacity .2s;
}

.rangeslider {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-weight: 700;
}

.gridslider:hover {
    opacity: 1;
}

.inputs {
    display: flex;
    justify-content: space-between;
    width: 69%;
    height: 10%;
    align-items: center;       
}

.header {
    display: flex;
    height: 50px;
    margin: 20px;
    font-size: 70px;
    align-items: flex-start;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}

footer {
    display: flex;
    height: 20px;
    align-items: center;
    height: 3%;
}

.border {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 100%;
    background-color: red;
    margin: 20px 0;
    border-radius: 20px;
    border-style: groove;
    border-width: 6px;
    border-color: red;
}

.buttons {
    display: flex;
    gap: 40px;
}

.black, .rainbow, .clear {
    width: 120px;
    height: 60px;
    background-color: whitesmoke;
}

    